@model IEnumerable<CriminalRecordManagementAssignment.Models.Crime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("ACP") || User.IsInRole("PC") || User.IsInRole("DCP"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
@using (@Html.BeginForm())
{
    <input class="form-control" type="search" name="SearchFilter" placeholder="Search Crimes" aria-label="Search">
    <input class="btn btn-outline-success my-2" type="submit" value="Search">
}
<table class="table blur table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Crime_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Officer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Officer_Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Victim.Victim_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crime_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Officer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Officer_Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Victim.Victim_Name)
            </td>
            <td>
                @if (User.IsInRole("ACP") || User.IsInRole("PC") || User.IsInRole("DCP"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Crime_ID })<text>|</text>
                    @Html.ActionLink("Details", "Details", new { id = item.Crime_ID }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Crime_ID })
                }
            </td>
        </tr>
    }

</table>
