<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkolivegreen">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Criminal Record Management", "Index", "Jails", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li class="btn-group nav">
                            <button type="button" class="btn navbar-btn" style="background-color:aliceblue">Hello -@User.Identity.Name</button>
                            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("View Criminals", "Index", "Criminals")</li>
                                <li>@Html.ActionLink("View Victims", "Index", "Victims")</li>
                                <li>@Html.ActionLink("View Crimes", "Index", "Crimes")</li>
                                <li>@Html.ActionLink("View Jails", "Index", "Jails")</li>
                                @*@if (User.IsInRole("DCP") || User.IsInRole("JCP") || User.IsInRole("ACP"))
                                {
                                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                }*@
                                @if (!User.IsInRole("PC"))
                                {
                                    <li>@Html.ActionLink("Add New Criminal", "Create", "Criminals")</li>
                                    <li>@Html.ActionLink("Add New Victim", "Create", "Victims")</li>
                                    <li>@Html.ActionLink("Add New Crime", "Create", "Crimes")</li>
                                }@if (User.IsInRole("DCP") || User.IsInRole("JCP") || User.IsInRole("ACP"))
                                {
                                    <li>@Html.ActionLink("Add New Jail", "Create", "Jails")</li>
                                }
                                <li style="background-color:burlywood">@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </li>

                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Signup", "Account")">
                                <span class="glyphicon glyphicon-registration-mark"></span>
                                Signup
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Account")">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Login
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Criminal Record Management", "Index", "Jails", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Get Criminal List", "Index", "Criminals")</li>

                            <li>@Html.ActionLink("Add Criminal", "Create", "Criminals")</li>
                            <li>@Html.ActionLink("Get Victim List", "Index", "Victims")</li>

                            <li>@Html.ActionLink("Add Victim", "Create", "Victims")</li>
                            <li>@Html.ActionLink("Get Crimes List", "Index", "Crimes")</li>
                            <li><a>Hello -@User.Identity.Name</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
       @* <footer>
            <p>&copy; @DateTime.Now.Year - Criminal Record Management Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
