@model CriminalRecordManagementAssignment.Models.Victim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Victim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Victim_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victim_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DODeath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DODeath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cause_Of_Death)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cause_Of_Death)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)" height="150px" width="150px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Victim_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
